<div class="container">
  <div class="row">
    <div class="col-12">
      <ul class="nav nav-tabs mt-5">
        <li role="presentation" routerLinkActive="active" 
        [routerLinkActiveOptions]="{exact: true}">
          <a class="nav-link" routerLink="">Home</a>
        </li>
        <li role="presentation" routerLinkActive="active">
          <a class="nav-link" routerLink="/servers">Serve</a>
        </li>
        <li role="presentation" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/users']">Users</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row content">
    <router-outlet></router-outlet>
  </div>
</div>