<div class="form mt-5">
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <div formGroupName="userData">
      <div class="form-group">
        <label class="form-text">Username</label>
        <input 
          id="username" 
          type="text" 
          class="form-control" 
          placeholder="Enter user name"
          formControlName="username"
          >
          <small
            *ngIf="signupForm.get('userData.username').errors && signupForm.get('userData.username').errors['nameIsForbidden']"
           class="form-text text-danger">This name is forbidden</small>
          <small
            *ngIf="signupForm.get('userData.username').errors && signupForm.get('userData.username').errors['required'] && signupForm.get('userData.username').touched"
           class="form-text text-danger">Enter a name</small>
      </div>   
      <div class="form-group">
        <label for="" class="form-text">Mail</label>
        <input 
        id="email" 
        type="email" 
        class="form-control"
        placeholder="Enter email"
        formControlName="email">
        <small
            *ngIf="!this.signupForm.get('userData.email').valid && this.signupForm.get('userData.email').touched"
           class="form-text text-danger">Enter valid email</small>
      </div>
    </div>
    <div class="form-group">
      <label for="" class="form-text">Gender</label>
      <div class="form-check" *ngFor="let gender of genders">
        <input 
          class="form-check-input"
          formControlName="gender"
          type="radio"
          [value]="gender"
          >
          <label class="form-check-label" for="exampleRadios1">
            {{gender}}
          </label>
      </div>
    </div>
    <div class="form-group" formArrayName="hobbies">
      <label for="" class="form-text">Hobbies</label>
      <button class="btn btn-secondary" (click)="onAddHobby()" type="button">Add hobby</button>
      <input 
        type="text"
        class="form-control mt-2"
        *ngFor="let hobby of signupForm.get('hobbies').controls; let i = index"
        [formControlName]="i">
    </div>
    <small
      *ngIf="!this.signupForm.valid && this.signupForm.touched"
      class="form-text text-danger">Enter valid form</small><br>
    <button 
      class="btn btn-primary"
      type="submit"
      >
      Submit
    </button>
  </form>
</div>